@charset "utf-8";
/* CSS Document */

body {
	background: #f9f9f9;
	overflow-y: scroll !important;
}

button, .btn, a, .pointer, select {
	cursor: pointer;
}

.green {
	color: #117711;
}

.clear {
	clear: both;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.navbar > .container {
	padding-left: 15px;
	padding-right: 15px;
}

.btn-wide {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.error {
	color: #990000;
}

.success {
	color: #337ab7;
}

.center {
	text-align: center;
}

.navbar-brand {
	font-family: Lucida Handwriting;
}

.title-card {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 35px;
}

.content {
	margin-top: 50px;
	padding-top: 20px;
}

.content-card {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5px 15px;
}

/* TODO: remove max-width from content-card */
.content-card.container {
	max-width: 500px;
}

.content-card.container.wide {
	max-width: 800px;
}

.content-card.container-fluid {
	max-width: 800px;
}

.content-card.container-fluid.wide {
	max-width: none;
}

.dataTable td {
	border-top: 1px solid black;
}

.dataTable .odd {
	background-color: #eeeeee;
}

.dataTable td + td {
	padding-left: 3px;
}

.content-card .table:last-child {
	margin-bottom: 0;
}

.collapser {
	border: 1px solid #ccc;
	color: #777;
	cursor: pointer;
	float: right;
	font-size: 20px;
	height: 20px;
	line-height: 14px;
	text-align: center;
	width: 20px;
}

.form-signin-heading {
	color: #00A2D1;
}

.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="tel"],
.form-signin input[type="select"],
.form-signin input[type="email"] {
	font-size: 16px;
	height: auto;
	padding: 7px 9px;
}

.form-control.invalid {
	border-color: #ff6666;
}

.code-of-conduct-content {
	border: 1px solid #ccc;
	color: #34365a;
	font: 14px/16px Georgia, Garamond, Serif;
	height: 120px;
	width: auto;
	overflow: auto;
	padding: 5px;
}

.acknowledge-color {
	color: #34365a;
}

.preferences-link {
	text-decoration: underline;
}

.password-validation {
	margin: 0;
	padding: 0;
	font-size: .8em;
}

.badge-dropdown {
	display: block;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	color: #34365a;
}

.point-btn {
	height: 40px;
	width: 40px;
	margin-bottom: 5px;
	margin-right: 1px;
	padding-left: 0;
	padding-right: 0;
}

.note {
	font-size: 12px;
	margin-top: 5px;
}

#point-history-page-label {
	display: inline-block;
	left: 45%;
	position: absolute;
}

.typeahead ~ .tt-menu {
	background-color: white;
	cursor: pointer;
	padding: 3px 6px;
	border: 1px solid #888;
}

.tt-suggestion {
	padding-top: 3px;
	padding-bottom: 3px;
}

.points-cell {
	width: 90px;
}

.registration-card .fa {
	font-size: 16px;
}

/* Registration Page */
.update-registration-btn-row {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.update-registration-btn-row > label {
	margin: 0;
}

.last-acknowledged {
	display: flex;
	font-size: 10px;
}

.last-acknowledged .timestamp {
	margin-left: 5px;
}

.checkbox-label {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-weight: normal;
}

.checkbox-label.disabled, select:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.checkbox-label input {
	margin: 0 3px 0 0 !important;
	padding: 0 !important;
}

#tee-size-dropdown {
	margin-left: 5px;
}

.tee-container {
	display: flex;
	justify-content: center;
}

.tee-container img {
	cursor: pointer;
	height: auto;
	max-width: 100%;
}

.registration .badge-dropdown {
	margin-top: 15px;
}

.tee-logo-large {
	background-color: black;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

/* General DataTables */
th.sorting, th.sorting_asc, th.sorting_desc {
	cursor: pointer;
}

.dataTable {
	width: 100% !important;
}

.dataTables_wrapper {
	width: 100%;
}

.dataTables_wrapper .top {
	margin-bottom: 10px;
	margin-top: 5px;
}

.dataTables_wrapper .row {
	clear: both;
	padding: 0 15px;
}

.dataTables_wrapper .bottom .row > *,
.dataTables_wrapper .top .row > * {
	float: left;
}

.dataTables_wrapper .bottom .row > * + *,
.dataTables_wrapper .top .row > * + * {
	/* Everything but the first element in a row floats right */
	float: right;
}

/* Super Admin Page */
.table .title-cell {
	font-weight: bold;
	padding-left: 20px;
	padding-top: 15px;
}

/* Admin Check-in Table */
#user-table select {
	height: auto;
}

#user-table .badge-dropdown {
	width: 100px;
}

#email-list {
	height: 500px;
	width: 100%;
}
